button {
    transform:scale(0.8);

    display:inline-block;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    padding-bottom: 17px;

    margin: 5px 5px 5px 5px;
    box-sizing: border-box;
    border-radius:50%;
    box-shadow: none;

    color:#ffffff;
    border:0.15em solid #7bcfff;
    background-color: #7bcfff;

    transition: all 0.2s;
    outline:none;

    position: fixed;
    right: 2%;
    bottom: 3%;

    transition: all 0.2s;
}

button:hover{
    transform:scale(0.85);
    cursor:pointer;
    box-shadow: 4px 4px 10px 2px #1d1d1d;
}

button:active{
    background-color: #73ee00;
    border:0.15em solid #73ee00;
}