@font-face {
    font-family: "OpenSansBold";
    src: url('OpenSans/opensans-bold-webfont.woff2') format('woff2'),
         url('OpenSans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url('OpenSans/opensans-regular-webfont.woff2') format('woff2'),
         url('OpenSans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
}

.InputField {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 100%;
    
    outline:none;
    background-color: #8f8f8f;
    border:0.15em solid #8f8f8f;
    
    padding:0.25em 0.5em;
    
    font-size: 14px;

    margin-top:10px;
    margin-bottom:10px;
}

.InputTitle {
    font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
    
    padding-top: 7px;
    margin-right: 10px;
}

.SubmitButton {
    transform:scale(1);
    font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
    font-size: 12px;
    display:inline-block;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin: 5px 10px 5px 10px;
    box-sizing: border-box;
    border-radius:5px;
    box-shadow: none;

    color:#ffffff;
    border:0.15em solid #45bbff;
    background-color: #45bbff;

    transition: all 0.2s;
    outline:none;
}

.SubmitButton:hover{
    transform:scale(1.05);
    cursor:pointer;
    box-shadow: 3px 2px 10px 1px #1d1d1d;
}

.SubmitButton:active{
    background-color: #96fa60;
    border:0.15em solid #96fa60;
}

.FormLabel {
    display: block;
    margin-left:10px;
    margin-right:10px;
    position: fixed;

    left: 50%;
    right: 50%;

    transform: translate(-50%, -50%);

    top: 30%;
    width: 25%;
    background-color: #5e5e5e;

    padding-left: 15px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 5px;
    box-shadow: 2px 5px 10px 1px;
}

.CloseForm {
    animation-duration: 0.25s;
    animation-timing-function: ease;
    animation-name: close;
}

@keyframes close {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0.5;
        transform: translate(-50%, -25%);
    }
}

.MediumTitle {
    font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
    color: #45bbff;
    font-size: 30px;
    
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

.SmallTitle {
    font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 12px;
    
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

.InputFieldLabel {
    font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    
    padding-top: 12px;
    margin-right: 12px;
}

.ErrorText {
    font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
    color: #ff0000;
    font-size: 12px;

    margin-bottom: 5px;
}